
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2"),
      url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2"),
      url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
 :root {
  --normal-fonts: "Roboto", "Arial", sans-serif;
  --normal-fonts-color: #333;
  --normal-fonts-weight: 400;
  --normal-fonts-line-heigh: 1.5;
  --normal-font-style: normal;
  --title-fonts-weight: 700;
  --normal-font-size: 16px;
  --font-size-button: 18px;
  --color-text-button: #fff;
  --baground-color-button: #EA625C;
  --baground-color-button-hover: #c9514c;
 }


/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* Meros qilib olish */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 1px dashed #ea625c;
  outline-offset: 3px;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.site-header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 79.46px;
}
.site-logo {
  width: 100%;
  max-width: 35px;
  height: 100%;
  max-height: 41.543px;
  padding: 0;
  margin: 0;
  display: block;
  margin-right: auto;
  object-fit: contain;
}
.site-header-nav {
  display: flex;
  align-items: center;
  justify-content:end;
  padding: 0;
  margin: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.site-header-list:not(:last-child) {
  margin-right: 30px;
}
.site-header-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: var(--normal-fonts);
  color: var(--normal-fonts-color);
  font-weight: var(--normal-fonts-weight);
  line-height: var(--normal-fonts-line-heigh);
  font-style: var(--normal-font-style);
  font-size: 15px;
  text-align: center;
}

.site-header-link:hover {
  border-bottom: 1px solid #666;
  margin-bottom: 6px;
}


.help-section {
  width: 165px;
  padding:0;
  margin: 0;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  font-family: var(--normal-fonts);
  font-style: var(--normal-font-style);
  font-weight: var(--normal-fonts-weight);
  line-height: var(--normal-fonts-line-heigh);
  color: #666;
  border-bottom: 1px solid var(--normal-fonts-color);
}

/* HERO */
.site-hero {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
}

.hero {
 border-bottom: 2px solid #ddd;
 padding-top: 140px;
 padding-bottom: 185px;
 background-image: url("../img/intro-bg.jpg");
 background-repeat: no-repeat;
 background-position: left calc(50% + 550px) bottom;
}

.lead-cta {
  width: 100%;
  max-width: 490px;
}
.lead-cta-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: var(--normal-fonts);
  font-weight: var(--title-fonts-weight);
  font-style: var(--normal-font-style);
  line-height: 1.2;
  color: #000;
}
.lead-cta-text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--normal-fonts);
  font-weight: var(--normal-fonts-weight);
  font-size: var(--normal-font-size);
  line-height: var(--normal-fonts-line-heigh);
  color: #777;
  border-left: 3px solid #888;
 padding-left: 37px;
}
.button {
  padding: 12px 35px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-button);
  font-weight: var(--title-fonts-weight);
  color: var(--color-text-button);
  background-color: var(--baground-color-button);
  text-transform: uppercase;
  line-height: var(--normal-fonts-line-heigh);
  transition: background-color 0.3s ease;
}

.button:hover {
 background-color: var(--baground-color-button-hover);
}

.button:active {
  opacity: 0.6;
}


.feauture {
}

.feauture-list {
  padding: 0;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  list-style: none;
  display: flex;

}
.feauture-list-itm {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 280px;
}

.feauture-list-itm:not(:last-child) {
  margin-right: 80px;
}
.feauture-list-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: var(--normal-fonts);
  font-style: var(--normal-font-style);
  font-weight: var(--title-fonts-weight);
  text-transform: uppercase;
  color: #222;
}
.feauture-list-text {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: var(--normal-fonts);
  font-style: var(--normal-font-style);
  font-weight: var(--normal-fonts-weight);
  line-height: 160%;
  color: var(--normal-fonts-color);
}
.feauture-list-divider {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.site-feauture-divider-line {
  padding: 0;
  margin: 0;
  width: 8px;
  height: 8px;
  border: 0;
  background-color: #ddd;
}

.site-feauture-divider-line:not(:last-child) {
  margin-right: 10px;
}

.more-info-text {
  font-size: var(--normal-font-size);
  font-weight: var(--normal-fonts-weight);
  font-family: var(--normal-fonts);
  font-style: var(--normal-font-style);
  font-weight: var(--title-fonts-weight);
  line-height: 160%;
  text-transform: uppercase;
  color: #EA625C;
  display: inline-flex;
  align-items: center;
  text-decoration: none;

}

.more-info-text::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #EA625C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  transition: width 0.5s ease;
}

.more-info-text:hover:before {
  content: "";
  width: 60px;
}
.site-feauture-divider-line-itm {
  width: 40px;
  height: 3px;
  border: 0;
  background-color: #EA625C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
  margin-right: 10px;
}


.site-feauture-divider {
  padding: 0;
  margin: 0;
}

/* PROMO */
.promo {
  padding-top: 176px;
  padding-bottom: 176px;
  background-image: url("../img/watch-in-hand.jpg");
 background-repeat: no-repeat;
 background-position: left calc(50% + 300px) center;
}

/* RUNNERS */
.runners {
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("../img/Group-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.runner {
  margin-left: 500px;
}

.runners-cta-heading {
 color: #fff;
}

.runners-cta-text {
  color: #fff;
  border-left: 3px solid #fff;
 padding-left: 37px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero {
    background-image: url("../img/intro-bg@2x.jpg");
  }

  .promo {
    background-image: url("../img/watch-in-hand@2x.jpg")
  }

  .runners {
    background-image: url("../img/Group-1@2x.jpg");
  }

}